body {
    background-image: url(light.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  
  h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #333;
  }